body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', sans-serif;
}

header {
  background-color: #262728;
  clear: both;
  display: block;
  overflow: hidden;
}

header navigation {
  padding: 10px 40px 0px;
  float: right;
}

header navigation a {
  float: left;
  display: block;
}

header navigation a.profile_pic {
  float:left;
}

header navigation form {
  float: left;
  margin: 0 20px;
}

header navigation form input {
  background-color: #262728;
  border-radius: 3px;
  border: 1px solid #666;
  height: 25px;
  width: 170px;
}

#logo {
  float: left;
  padding: 10px;
  margin-left: 50px;
  display: black;
}

footer {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eee;
  font-size: 12px;
}

footer ul {
  list-style-type: none;
  width: 50%;
  margin: auto;
}

footer ul li {
  float: left;
  padding-right: 10px;
  color: #888888;
}

footer a {
  color: #00af88;
  text-decoration: none;
}
